/*DECLARO VARIABLES CSS y les asigno un valor por defecto de inicio*/
:root {
    --peso: 200;
    --pesoItalic: 200;  
}
  
 /*CARGO TIPOGRAFÍA*/ 
 @font-face {
  font-family: "SourceSansVariable-Roman";
  /*atención al formato en el que se carga la fuente*/
  src: url("SourceSansVariable-Roman.ttf") format("truetype-variations");
}

@font-face {
      font-family: "SourceSansVariable-Italic";
      /*atención al formato en el que se carga la fuente*/
      src: url("SourceSansVariable-Italic.ttf") format("truetype-variations");
}

@font-face {
      font-family: "IBMPlexSansVar-Roman";
      /*atención al formato en el que se carga la fuente*/
      src: url("IBMPlexSansVar-Roman.ttf") format("truetype-variations");
  }
  
  html, body{
      height: 100%;
      margin: 0;
      padding: 0; 
    }
    
    body{
      background-color: rgb(0, 0, 0);
      display: flex;
      justify-content: center;
      padding: 0;
      color:white;
      overflow: hidden;
    }
    
    .cont{
      height: 100%;
      display: inline-block;
      position: relative;
    }
    
    #fondo{
      height: 100%;
    }

/*MODIFICA EL VALOR DE LOS EJES DE VARIACIÓN A PARTIR DEL DATO RECIBIDO*/
#valorModificaEjeVariacion {
      font-family: "SourceSansVariable-Roman";
      /*con esta propiedad accedo a los ejes de variación de la tipografía*/
      font-variation-settings: "wght" var(--peso);
    
      font-size: 9.5vh;
      
      position: absolute;
      top: 20vh;
      left: 59vh;
    }

    #valorModificaEjeVariacion2 {
      font-family: "SourceSansVariable-Italic";
      /*con esta propiedad accedo a los ejes de variación de la tipografía*/
      font-variation-settings: "wght" var(--pesoItalic);
    
      font-size: 8vh;
      
      position: absolute;
      top: 41vh;
      left: 59vh;
    }
    
    #info {
      font-family: "IBMPlexSansVar-Roman";
      font-size: 1.5vh;
    
      position: absolute;
      bottom: 1.6em;
      left: 4em;
    
      display: grid;
      grid-template-columns: 45vh 18.5vh 14.2vh 9.5vh 14vh;
      grid-gap: 0.1vh;
      grid-template-areas:  "Modulo11 Modulo12 Modulo13 Modulo14 Modulo15 Modulo16"
                            "Modulo21 Modulo22 Modulo23 Modulo24 Modulo25 Modulo26"
                            "Modulo31 Modulo32 Modulo33 Modulo34 Modulo35 Modulo36"
                            "Modulo41 Modulo42 Modulo43 Modulo44 Modulo45 Modulo46";
    }
    
    .bold{
      font-variation-settings: 'wght' 700;
    }
      
    .thin{
      font-variation-settings: 'wght' 200;
    }
    
    /*COLUMNA 1*/
    #Modulo11{grid-area: Modulo11;}
    
    #Modulo21{grid-area: Modulo21;}
    
    #Modulo31{grid-area: Modulo31;}
    
    #Modulo41{grid-area: Modulo41;}
    
    /*COLUMNA 2*/
    #Modulo12{grid-area: Modulo12;}
    
    #Modulo22{grid-area: Modulo22;}
    
    #Modulo32{grid-area: Modulo32;}
    
    #Modulo42{grid-area: Modulo42;}
    
    /*COLUMNA 3*/
    #Modulo13{grid-area: Modulo13;}
    
    #Modulo23{grid-area: Modulo23;}
    
    #Modulo33{grid-area: Modulo33;}
    
    #Modulo43{grid-area: Modulo43;}
    
    /*COLUMNA 4*/
    #Modulo14{grid-area: Modulo14;}
    
    #Modulo24{grid-area: Modulo24;}
    
    #Modulo34{grid-area: Modulo34;}
    
    #Modulo44{grid-area: Modulo44;}
    
    /*COLUMNA 5*/
    #Modulo15{grid-area: Modulo15;}
    
    #Modulo25{grid-area: Modulo25;}
    
    #Modulo35{grid-area: Modulo35;}
    
    #Modulo45{grid-area: Modulo45;}

    /*COLUMNA 6*/
    #Modulo15{grid-area: Modulo16;}
    
    #Modulo25{grid-area: Modulo26;}
    
    #Modulo35{grid-area: Modulo36;}
    
    #Modulo45{grid-area: Modulo46;}
  
   
   